<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/movie" routerLinkActive="active">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!currentUser">Sign in</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" routerLink="/create-account" routerLinkActive="active"  *ngIf="!currentUser">Sign up</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/update-account" routerLinkActive="active">Update account</a>
      </li>
      <button class="btn btn-danger my-2 my-sm-0" (click) = "onLogout()">Logout</button>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>