<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-signin">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign in</h5>
                    <form class="form-signin">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address">
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password">
                        </div>
                        <button class="btn btl-lg btn-primary" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
